*{
   margin: 0;
   padding: 0;
 }
 body{
      font-family: tahoma;
      background: linear-gradient(to left, #a31384 , #a6cc4f);
      overflow: hidden;
 }
 h1{
     text-align: center;
     font-size: 350%;
     color: rgb(255, 255, 255);
     margin: 60px;
 }
 #container{
     margin:  15px auto 0px auto;
     width: 50%;
     text-align: center;
     background: linear-gradient(to right, #910296 , #b6dd5c);
     overflow: hidden;
     border-radius: 100px;
     padding: 10px;
 }
 .input-div{
     display: inline-block;
 }
 .input{
     padding: 10px 10px;
     margin: 20px;
     font-size: 30px;
     font-weight: bold;
     width: 200px;
     text-align: center;
     border-radius: 50px;
 }
 label{
     font-size: 30px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight: bold;
     color: #f5f5f5;
 }